@tailwind base;
@tailwind components;
@tailwind utilities;

strong {
  font-weight: 700;
}

.contact {
  grid-column: 1;
  grid-row: 1;
}

.techExp {
  grid-column: 1;
  grid-row: 2 / span 3;
}

.someExp {
  grid-column: 1;
  grid-row: 5 / span 2;
}

.otherSkills {
  grid-column: 1;
  grid-row: 7 / span 2;
}

.languages {
  grid-column: 1;
  grid-row: 9 / span 1;
}

.workExperience {
  grid-column: 2;
  grid-row: 1 / span 4;
}

.education {
  grid-column: 2;
  grid-row: 5 / span 1;
}

.profile {
  grid-column: 2;
  grid-row: 6 / span 2;
}

.aboutMe {
  grid-column: 2;
  grid-row: 8 / span 2;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
